@model BlogListResponseModel

<partial name="ValidateMessage" />

@{
    int rowCount = 0;
}
<p>Page Count : @Model.pageCount</p>
<p>Page RowCount : @Model.pageRowCount</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Action</th>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.BlogList)
        {
            <tr>
                <td>
                    <a href="/Blog/Edit/@item.Blog_Id" class="btn btn-warning">Edit</a>
                    <a href="/Blog/Delete/@item.Blog_Id" class="btn btn-danger">Delete</a>
                </td>
                <th scope="row">@(++rowCount)</th>
                <td>@item.Blog_Title</td>
                <td>@item.Blog_Author</td>
                <td>@item.Blog_Content</td>
            </tr>
        }
        
        
    </tbody>
</table>